.wrapper-slider{
    width: 80%;
    margin: 0 auto;
}
/* .slick-dots li button {
    background-color: red;
    border-color: red;
  }
  
  .slick-dots li.slick-active button {
    background-color: green;
    border-color: red;
  } */